apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-ingest
  labels:
    app: ingest
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: ingest
  template:
    metadata:
      labels:
        app: ingest
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: ingest
          image: "{{ .Values.services.ingest.image }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.services.ingest.port }}
          env:
            - name: KAFKA_BROKER
              value: "{{ .Release.Name }}-kafka:9092"
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-ingest
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: ingest
