apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
data:
  gemini-api-key: {{ .Values.secrets.geminiApiKey | b64enc }}
  minio-user: {{ .Values.secrets.minioUser | b64enc }}
  minio-password: {{ .Values.secrets.minioPassword | b64enc }}
